<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <style>
      body {
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #000000;
        color: white;
      }

      .container {
        border: 1px solid yellow;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(202, 202, 133, 0.199);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        position: relative;
        top: 200px;
        max-width: 600px;
        justify-content: center;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label {
        margin-bottom: 10px;
      }

      input {
        padding: 8px;
        margin-bottom: 15px;
        width: 250px;
        box-sizing: border-box;
        background-color: rgba(233, 233, 71, 0.884);
        font-size: 18px;
        color: #333;
      }

      button {
        background-color: yellow;
        text-decoration: none;
        width: 100px;
        margin: 10px auto;
        text-align: center;
        border: 0;
        font-size: 14px;
        padding: 10px;
        color: black;
        border-radius: 2px;
        cursor: pointer;
      
      }

      .invalid{
        border-color: red;
      }



    </style>
    <link rel="stylesheet" type="text/css" href="../styles/shared.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
      <h2>Signup</h2>
      <% if(errorMessage){ %>
        <div class="error"><%= errorMessage %></div>
        <% } %>
      <form action="/signup" method="POST">
        <label for="mailid">E-Mail:</label>
        <input class ="<%= validationError.find(e=> e.path === 'mailid') ? 'invalid' : '' %>" type="email" id="mailid" name="mailid" value =" <%= input.email %>" novalidation required/>

        <label for="password">Password:</label>
        <input class ="<%= validationError.find(e=> e.path === 'password') ? 'invalid' : '' %>" type="password" id="password" name="password" required />
        <label for="password">Confirm Password:</label>
        <input class ="<%= validationError.find(e=> e.path === 'confirmPassword') ? 'invalid' : '' %>" type="password" id="password" name="confirmPassword" required />

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
